<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Connexion.io</title>
    </head>
 
    <body>
        <input id='id_client' name='id_client' type='text'/>
        <input type="button" onclick="connexion()" value="Connexion"/>
        <h2>Votre nom : <span id="player-name"></span></h2>
        <h3 id="message-response"></h3>
        <a href="/jeu" hidden="true" id="randomBattleLink">Random battle</a>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();

            socket.on('connexionResponse', (data) => {
                if(data.connected){
                    document.getElementById("player-name").innerHTML = data.name;
                    document.getElementById("randomBattleLink").removeAttribute('hidden');
                } else {
                    document.getElementById("player-name").innerHTML = data.name;
                    document.getElementById("randomBattleLink").setAttribute('hidden','true');
                }
                document.getElementById("message-response").innerHTML = data.message;
                
            });

            function connexion(){
                socket.emit('connexion', {name:document.getElementById("id_client").value});
            }


        </script>
    </body>
</html>